<nav class="fixed-bottom py-3">
    <ul class="row text-center noPadding"> 
        <a href="/courses" class="col">
            <div>
                <i class="fas fa-school fa-lg"></i>
                <p>Courses</p>
            </div>
        </a>
        <a href="/cgpa" class="col">
            <div>
                <i class="fas fa-graduation-cap fa-lg"></i>
                <p>CGPA</p>
            </div>
        </a>
        <a href="/settings" class="col">
            <div>
                <i class="fas fa-cog fa-lg"></i>
                <p>Settings</p>
            </div>
        </a>
    </ul>
</nav>