<%- include('partials/header.ejs')  %> 

<main>
    <header class="p-3" id="courses_Header">
        <ul class="d-flex flex-row justify-content-center">
            <li>GPA Tracker</li>
        </ul>
        <p class="text-center">User Email</p>
    </header>

    <section class="account_Details">
        <ul>
            <li></li>
            <li></li>
            <li><a href="#">Contact Me!</a></li>
        </ul>
        <div>
            <a href="#">Sign Out</a>
        </div>
        <p>Joshua Duke 2022</p>
    </section>

    <%- include('partials/navbar.ejs')  %> 
</main>


<%- include('partials/footer.ejs')  %> 