<%- include('partials/header.ejs')  %> 

<section>
    <nav class="container">
        <h1>Error</h1>
    </nav>
    <h3>OOPS</h3>
    <p>You cannot view this page offline</p>
    <a href="/" class="btn btn-primary">Go to home page</a>
</section>

<%- include('partials/footer.ejs')  %> 