<%- include('partials/header.ejs')  %> 

<main>
    <nav class="py-1 px-3">
        <div class="row  py-3">
            <div class="col text-start">
                <a href="/courses">
                    <i class="fas fa-times-circle fa-lg"></i>
                </a>
            </div>

            <div class="col text-center">
                <span>Semesters</span>
            </div>

            <div class="col text-end">
                <a href="/edit_semesters">
                    <span>Edit</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="text-center py-3">
        <p>Tap a Semester to make it the current semester</p>
    </div>
    <section>
        <ul class="list-group">
            <a href="#">
                <li class="p-3 list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Fall 2019
                    <span class="badge bg-success badge-pill p-2">GPA: 3.8</span>
                </li>
            </a>
            <a href="#">
                <li class="p-3 list-group-item list-group-item-action d-flex justify-content-between align-items-cente active">
                    Fall 2018
                    <span class="badge bg-warning badge-pill p-2">GPA: 2.8</span>
                </li>
            </a>
            <a href="#">
                <li class="p-3 list-group-item list-group-item-action d-flex justify-content-between align-items-cente">
                    Fall 2020
                    <span class="badge bg-danger badge-pill p-2">GPA: 1.4</span>
                </li>
            </a>
        </ul>
    </section>
</main>

<%- include('partials/footer.ejs')  %> 